body {
    background-color: #e0e0eb; 
}

#container-wrapper {
    align-content: center;
    min-width:100%;
}

.header {
    background-color: #52527a;
    color:white;
    margin-bottom: 1em;
}

.jumbotron {
    background-color: #52527a;
    color:white;
    height: 9em;
}

.container {
    align-content: center;
    width: 100%;
    margin: 20px;
    padding: 1em;
}

.employee-card {
    margin: 1em;
    border: 2px solid #a3a3c2;
    margin: 10px;
}


.manager-header {
    background-color: #b30000;
    color:white;
}

.engineer-header {
    background-color: #0000ff;
    color:white;
}

.intern-header {
    background-color: #008000;
    color:white;
}

@media all and (max-width: 560px) {
    .container {
        text-align: center;
        width: 100%!important;
    }
}